In [1]:
from random import randint

In [2]:
x=[]
for i in range(25):
    x.append(randint(1,100))
print(x)

[96, 44, 96, 50, 51, 25, 75, 21, 20, 37, 66, 94, 17, 84, 69, 96, 54, 89, 57, 87, 2, 51, 47, 95, 11]

In [6]:
val=84
if val in x:
    x.remove(val)

In [7]:
print(x)

[96, 44, 96, 50, 51, 25, 75, 21, 20, 37, 66, 94, 17, 69, 96, 54, 89, 57, 87, 2, 51, 47, 95, 11]

In [8]:
x.index(57)

17

In [9]:
x.pop(11)

94

In [10]:
x.pop() # last element from list

11

In [11]:
x.sort()
print(x)

[2, 17, 20, 21, 25, 37, 44, 47, 50, 51, 51, 54, 57, 66, 69, 75, 87, 89, 95, 96, 96, 96]

In [12]:
x.sort(reverse=True)
print(x)

[96, 96, 96, 95, 89, 87, 75, 69, 66, 57, 54, 51, 51, 50, 47, 44, 37, 25, 21, 20, 17, 2]

In [13]:
x.count(96)

3

In [15]:
x=[1,2,3,4,5,]
y=x
z=x.copy()#duplicates
y.append(15)
x.remove(3)
z.append(10)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)
print(y is z)

[1, 2, 4, 5, 15]
[1, 2, 4, 5, 15]
[1, 2, 3, 4, 5, 10]
True
False
False

-wap to count all the number greater than 50 in a list of 100 element

In [17]:
x=[]
for i in range(100):
    x.append(randint(1, 100))
print(x)

[86, 16, 8, 57, 27, 29, 83, 25, 54, 41, 7, 69, 6, 6, 78, 8, 67, 66, 56, 26, 73, 70, 59, 39, 59, 81, 94, 57, 83, 57, 15, 49, 13, 29, 64, 99, 4, 94, 18, 9, 69, 63, 77, 37, 32, 70, 62, 91, 58, 13, 32, 9, 81, 36, 23, 17, 7, 87, 87, 81, 9, 51, 44, 32, 25, 90, 79, 30, 20, 46, 55, 19, 25, 70, 99, 44, 54, 27, 61, 39, 39, 100, 7, 56, 24, 31, 59, 71, 38, 11, 10, 49, 5, 44, 98, 100, 64, 53, 38, 36]

In [18]:
c50=0
for i in x:
    if i >=50:
        c50 +=1
print(f'we have {c50} numbers >=50')

we have 48 numbers >=50

- add all the numbers that are less than 25 & display the

In [19]:
c25=[i for i in x if i <=25]
print(sum(c25))

359

LIST COMPREHENSION

In [22]:
y=[11, 23, 42 ,62,12,56,67,23,65]
yodd=[]
for i in y:
    if i % 2 !=0:
        yodd.append(i)
print(y)
print(yodd)

[11, 23, 42, 62, 12, 56, 67, 23, 65]
[11, 23, 67, 23, 65]

In [25]:
xcubes=[ i**3 for i in x]
print(x)
print(xcubes)

[86, 16, 8, 57, 27, 29, 83, 25, 54, 41, 7, 69, 6, 6, 78, 8, 67, 66, 56, 26, 73, 70, 59, 39, 59, 81, 94, 57, 83, 57, 15, 49, 13, 29, 64, 99, 4, 94, 18, 9, 69, 63, 77, 37, 32, 70, 62, 91, 58, 13, 32, 9, 81, 36, 23, 17, 7, 87, 87, 81, 9, 51, 44, 32, 25, 90, 79, 30, 20, 46, 55, 19, 25, 70, 99, 44, 54, 27, 61, 39, 39, 100, 7, 56, 24, 31, 59, 71, 38, 11, 10, 49, 5, 44, 98, 100, 64, 53, 38, 36]
[636056, 4096, 512, 185193, 19683, 24389, 571787, 15625, 157464, 68921, 343, 328509, 216, 216, 474552, 512, 300763, 287496, 175616, 17576, 389017, 343000, 205379, 59319, 205379, 531441, 830584, 185193, 571787, 185193, 3375, 117649, 2197, 24389, 262144, 970299, 64, 830584, 5832, 729, 328509, 250047, 456533, 50653, 32768, 343000, 238328, 753571, 195112, 2197, 32768, 729, 531441, 46656, 12167, 4913, 343, 658503, 658503, 531441, 729, 132651, 85184, 32768, 15625, 729000, 493039, 27000, 8000, 97336, 166375, 6859, 15625, 343000, 970299, 85184, 157464, 19683, 226981, 59319, 59319, 1000000, 343, 175616, 13824, 29791, 205379, 357911, 54872, 1331, 1000, 117649, 125, 85184, 941192, 1000000, 262144, 148877, 54872, 46656]

In [26]:
yodd=[i for i in y if i%2 !=0]

In [27]:
print(yodd)

[11, 23, 67, 23, 65]

-creat a list of sqr of only even numbers from an existing list

In [31]:
x=[2,4,6,3,5,7,8]

In [ ]:
xsqreven=[]
for i in x:
    if i%2==0:
        sqreven

In [33]:
xsqreven=[i**2 for i in x if i%2==0 ]
print(xsqreven)

[4, 16, 36, 64]