In [2]:
x=[]
y=list()
print(x,y)
print(type(x),type(y))

[] []
<class 'list'> <class 'list'>

In [3]:
x=[1,3,4,5,6]
names=['akash','amit','vijay']
print(x,names)

[1, 3, 4, 5, 6] ['akash', 'amit', 'vijay']

In [4]:
mixed=["apple",100,"banana",40,"orange"]
print(mixed)

['apple', 100, 'banana', 40, 'orange']

In [5]:

ones=[1]*10 #duplicate 1 10 times and store in list
print(ones)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
word='homosapiens'
chrs=list(word)
print(chrs)

['h', 'o', 'm', 'o', 's', 'a', 'p', 'i', 'e', 'n', 's']

In [7]:
for i in x:
    print(i)

1
3
4
5
6

In [8]:
for i in x:
    print(i+101)

102
104
105
106
107

In [9]:
books=['book1','book2','book3']

In [11]:
books[0]='gita'

In [12]:
books

['gita', 'book2', 'book3']

In [14]:
books[1]="Ramayana"
books

['gita', 'Ramayana', 'book3']

In [15]:
books[2]="terminator"
print(books)

['gita', 'Ramayana', 'terminator']

In [16]:
books.append("The Warrior")
print(books)

['gita', 'Ramayana', 'terminator', 'The Warrior']

In [17]:
books.remove('gita')
print(books)

['Ramayana', 'terminator', 'The Warrior']

In [20]:
movies=['Avengers','Terminator','The hulk','King arthur','Ramayana',
'Monster','Spider man','The matrix','The dark night','Batman',
'Mission imposible','The expendable','Kantara','Govinda','Heropanti']
print(movies)

['Avengers', 'Terminator', 'The hulk', 'King arthur', 'Ramayana', 'Monster', 'Spider man', 'The matrix', 'The dark night', 'Batman', 'Mission imposible', 'The expendable', 'Kantara', 'Govinda', 'Heropanti']

In [21]:
len(movies)

15

In [22]:
print(movies)

['Avengers', 'Terminator', 'The hulk', 'King arthur', 'Ramayana', 'Monster', 'Spider man', 'The matrix', 'The dark night', 'Batman', 'Mission imposible', 'The expendable', 'Kantara', 'Govinda', 'Heropanti']

In [23]:
movies[:10]

['Avengers',
 'Terminator',
 'The hulk',
 'King arthur',
 'Ramayana',
 'Monster',
 'Spider man',
 'The matrix',
 'The dark night',
 'Batman']

In [24]:
books=[]
for i in range(3):
    books.append(input())
print(books)

["'The dark knight'", "'Bad Boys'", "'Drakula'"]

In [26]:
movies[5:-5]

['Monster', 'Spider man', 'The matrix', 'The dark night', 'Batman']

In [30]:
print(movies[::-1])

['Avengers', 'Terminator', 'The hulk', 'King arthur', 'Ramayana', 'Monster', 'Spider man', 'The matrix', 'The dark night', 'Batman', 'Mission imposible', 'The expendable', 'Kantara', 'Govinda', 'Heropanti']

In [29]:
movies[::2]# every 2nd element

['Heropanti',
 'Kantara',
 'Mission imposible',
 'The dark night',
 'Spider man',
 'Ramayana',
 'The hulk',
 'Avengers']

In [31]:
#Methods

In [33]:
x=[1,2]
x.append(3)
print(x)

[1, 2, 3]

In [38]:
x.insert(1,1.6)
print(x)

[1, 1.6, 1.5, 1.5, 1.5, 2.5, 2, 3]

In [39]:
x.insert(3, 2.5)
print(x)

[1, 1.6, 1.5, 2.5, 1.5, 1.5, 2.5, 2, 3]

In [40]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [41]:
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]